* {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
}

#title {
    font-size: 72px;
    font-weight: bold;
    text-align: center ;
    text-decoration: underline;
    padding-bottom: 1rem;
}

.gameboard {
    background-color: blueviolet;
    display: grid;
    grid-template-columns: repeat(3,10rem);
    grid-template-rows: repeat(3,10rem);
    width: 30rem;
    border: 2px solid black;
    margin: auto;
    padding: 2rem
}

.square {
    border: 2px solid black;
    background-color: white;
    text-align: center;
    font-size: 132px;
    font-weight: bold;
}

#rules {
    font-size: 36px;
    text-align: center;
    padding-bottom: 2rem;
}

#message{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 2rem;
}

#button {
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}