* {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#title {
    font-size: 72px;
    font-weight: bold;
    text-align: center ;
    text-decoration: underline;
    padding-bottom: 1rem;
    color: rgb(43, 198, 226);
    text-shadow: -1px 1px 2px blueviolet,
				  1px 1px 2px blueviolet,
				  1px -1px 0 blueviolet,
				  -1px -1px 0 blueviolet;
}

#rules {
    font-size: 36px;
    text-align: center;
    padding-bottom: 2rem;
    font-weight: bold;
}

#error-message {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: rgb(178, 38, 85);
    padding-bottom: .5rem;
}

.gameboard {
    background-color: blueviolet;
    display: grid;
    grid-template-columns: repeat(3,10rem);
    grid-template-rows: repeat(3,10rem);
    width: 30rem;
    border: 2px solid black;
    margin: auto;
    padding: 2rem
}

.square {
    border: 2px solid black;
    background-color: white;
    text-align: center;
    font-size: 132px;
    font-weight: bold;
}

.square:hover {
    background-color: rgb(43, 198, 226);
}

#message{
    text-shadow: -1px 1px 2px blueviolet,
				  1px 1px 2px blueviolet,
				  1px -1px 0 blueviolet,
				  -1px -1px 0 blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 130px;
    font-weight: bold;
    height: 30rem;
    padding-bottom: 70px 0;
    color: rgb(43, 198, 226)
}

#button {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

#restart {
    background-color: blueviolet;
    font-size: 36px;
    font-weight: bold;
    color: rgb(43, 198, 226);
    padding: 1rem;
}

#restart:hover {
    transform: scale(1.3);
}

#restart:active {
    color:blueviolet;
    background-color:rgb(43, 198, 226);
}

.hidden {
    display: none;
}

.player-names {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    gap: 2rem;
}
input {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

#start-game {
    color:blueviolet;
    background-color:rgb(43, 198, 226);
    padding: .5rem;
}

#start-game:hover {
    transform: scale(1.2);
}
#start-game:active {
    background-color: blueviolet;
    color: rgb(43, 198, 226);
}